*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgba(202, 202, 202, 0.622);
}

table,td,th{
    border: 1px dotted;
    border-collapse: collapse;
    text-align: center;

}
th{
    background-color: rgb(8, 153, 126);
}

tr:hover{
    background-color: rgb(33, 216, 182);
}
h1{
    text-align: center;
}

main{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

